p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding-top: 76px;
  padding-left: 86px;
  padding-right: 24px;
  background-color: rgb(247, 247, 247);
}
a {
  color: inherit;
  text-decoration: none;

}