

/* this is a format for writing comments in CSS*/
.header {
  display: flex;
  flex-direction: row;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgb(233, 233, 233);
border-bottom-style: solid;
background-color: white;
z-index: 100;
}
.left-section {
display: flex;
flex-direction: row;
align-items: center;
}
.hamburg-menu {
  height: 30px;
    margin-left: 20px;
  }
  .youtube-logo {
   height: 20px;
   margin-left: 20px;
  }
.middle-section {
margin-left: 70px;
margin-right: 35px;
max-width: 500px;
display: flex;
flex-direction: row;
align-items: center;
flex: 1;

}
.search-bar {
  font-size: 16px;
  margin-right: 0px;
  height: 36px;
  flex: 1;
  font-family: Roboto, Arial;
  padding-left: 10px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-icon-button {
  height: 40px;
  width: 66px;
  margin-left: -1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(167, 167, 167);
    border-radius: 2px;
    background-color: rgb(243, 243, 243);
}
.search-icon {
  height: 27px;
}
.search-icon-button,
.voice-record-button,
.video-record-container,
.youtube-apps,
.notification-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.search-icon-button .tooltip,
.voice-record-button .tooltip,
.video-record-container .tooltip,
.youtube-apps .tooltip,
.notification-icon-container .tooltip {
  background-color: grey;
  color: white;
  position: absolute;
  bottom: -28px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 6px;
  font-size: 10px;
  border-radius: 2px;
  opacity: 0;
  transition: 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-family: Roboto, Arial;
}
.search-icon-button:hover .tooltip,
.voice-record-button:hover .tooltip,
.video-record-container:hover .tooltip,
.youtube-apps:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
  
}
  .voice-record-button {
    height: 40px;
  width: 40px;
  position: relative;
  margin-left: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-icon {
  height: 28px;
}
.right-section {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
  
}
.notification-icon-container:hover,
.voice-record-button:hover {
  background-color: rgb(223, 221, 221);
  border-radius: 20px;
  cursor: pointer;
}
.notification-icon {
  width: 25px;
}

.notification-number {
  position: absolute;
  right: -3px;
  top: 0px;
  color: white;
  background-color: rgb(218, 25, 25);
  border-radius: 10px;
  font-size: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-family: Roboto, Arial;
}
.login-photo {
  border-radius: 50%;
  width: 32px;
}